# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
dist-ssr
build
.expo
.next
out

# Turbo
.turbo

# Environment
.env
.env.local
.env.*.local

# Prisma
apps/api/prisma/migrations

# Logs
*.log
npm-debug.log*
yarn-debug.log*
bun-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
